.blue {
  display: inline;
  color: blue;
}

.red {
  display: inline;
  color: red;
}

.white {
  display: inline;
  color: white;
}

.orange {
  display: inline;
  color: orange;
}

.green {
  display: inline;
  color: green;
}

.yellow {
  display: inline;
  color: yellow;
}
